body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,header,hgroup,nav,section,article,aside,footer,figure,figcaption,menu,button{margin:0;padding:0}body{font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;line-height:1.5;font-size:14px;color:#000;user-select:none;text-size-adjust:none;outline:none}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}li{list-style:none}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}button,input[type="submit"]{border:none;background:none;appearance:none;outline:none}a{touch-callout:none;text-decoration:none;}em{font-style:normal}

/* style */
html,
body {
	width: 100%;
	height: 100%;
}
.wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.pages {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; top: 0;
	z-index: 1;
}
.default.pages {
	transition: all ease 500ms;
	transform: translate3d(0,0,0);
}
.drag {
	transition: none !important;
}
.page {
	overflow: hidden;
	position: relative;
	z-index: 2;
	float: left;
	backface-visibility: hidden;
	perspective: 1000;
	transition: transform ease 300ms;
}
.parallax-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	background: rgba(0,0,0,.8);
	color: #000;
}
.ui-loading-white {
	width: 37px;
	height: 37px; 
	display: block;
	background-image: url(../img/loading_sprite_white.png);
	background-size: auto 37px;
	animation: rotate 1s steps(12) infinite;
}
@keyframes rotate {
    from { background-position: 0 0; }
    to { background-position: -444px 0; }
}
.parallax-h-indicator {
	width: 100%;
	height: 10px;
	position: absolute;
	left: 0; bottom: 10px;
	text-align: center;
	z-index: 10;
	pointer-events: none;
}
.parallax-h-indicator ul li {
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: rgba(0,0,0,.3);
	border-radius: 5px;
	margin-left: 5px;
}
.parallax-h-indicator ul li:first-child {
	margin: 0;
}
.parallax-h-indicator ul li.current {
	background-color: rgba(255,255,255,.5);
}
.parallax-v-indicator {
	width: 10px;
	height: auto;
	position: absolute;
	right: 10px; top: 50%;
	z-index: 10;
	transform: translateY(-50%);
	pointer-events: none;
}
.parallax-v-indicator ul li {
	width: 10px;
	height: 10px;
	background-color: rgba(0,0,0,.3);
	border-radius: 5px;
	margin-top: 5px;
}
.parallax-v-indicator ul li:first-child {
	margin-top: 0;
}
.parallax-v-indicator ul li.current {
	background-color: rgba(255,255,255,.5);
}
.horizontal .parallax-arrow,
.vertical .parallax-arrow {
	opacity: 0;
	position: absolute;
	right: 10px; top: 50%;
	z-index: 10;
	width: 25px; height: 15px;
	background: url(../img/arrow.png) no-repeat;
	background-size: 25px auto;
	transform: translateY(-50%) rotate(-90deg);
}
.vertical .parallax-arrow {
	left: 50%; right: auto;
	top: auto; bottom: 30px;
	transform: translateX(-50%) rotate(0deg);
}
.horizontal .current .parallax-arrow {
	animation: harrow 1500ms 300ms ease infinite;
}
.vertical .current .parallax-arrow {
	animation: varrow 1500ms 300ms ease infinite;
}
@keyframes varrow {
	from {
		opacity: 0;
		transform: translate3d(-50%,10px,0);
	}
	to {
		opacity: 1;
		transform: translate3d(-50%,0,0);
	}
}
@keyframes harrow {
	from {
		opacity: 0;
		transform: translate3d(0,-50%,0) rotate(-90deg);
	}
	to {
		opacity: 1;
		transform: translate3d(-10px,-50%,0) rotate(-90deg);
	}
}


/* animation */
.animate .front,
.animate .back {
	animation-timing-function: ease;
	animation-duration: 500ms;
	animation-iteration-count: 1;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	z-index:2;
}
.animate .back {
	z-index:1;
}

.cover .page {
	position: absolute;
	left: 0; top: 0;
	display: none;
}

/* cover2top */
.cover.forward.vertical .front {
	z-index: 2;
	transform: translateY(100%);
}
.cover.forward.vertical .back {
	z-index: 0;
}
.animate.cover.forward.vertical .front {
	animation-name: cover2top;
}
@keyframes cover2top {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0%);
	}
}

/* cover2left */
.cover.forward.horizontal .front {
	z-index: 2;
	transform: translateX(100%);
}
.cover.forward.horizontal .back {
	z-index: 0;
}
.animate.cover.forward.horizontal .front {
	animation-name: cover2left;
}
@keyframes cover2left {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

/* cover2bottom */
.cover.backward.vertical .front {
	z-index: 2;
 	transform: translateY(0%);
}
.cover.backward.vertical .back {
	z-index: 0;
}
.animate.cover.backward.vertical .front {
	animation-name: cover2bottom;
}
@keyframes cover2bottom {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

/* cover2right */
.cover.backward.horizontal .front {
	z-index: 2;
 	transform: translateX(-100%);
}
.cover.backward.horizontal .back {
	z-index: 0;
}
.animate.cover.backward.horizontal .front {
	animation-name: cover2right;
}
@keyframes cover2right {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}