{
  "name": "assets",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "img/pic1.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/pic1.png\",\"size\":15576,\"initialSize\":15576,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "css/docs.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/docs.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/docs.min-dist.css\"}"
    },
    {
      "path": "scss/_ads.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_ads.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_ads.css\"}"
    },
    {
      "path": "scss/_anchor.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_anchor.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_anchor.css\"}"
    },
    {
      "path": "scss/_booticon.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_booticon.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_booticon.css\"}"
    },
    {
      "path": "scss/_brand.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_brand.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_brand.css\"}"
    },
    {
      "path": "scss/_browser-bugs.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_browser-bugs.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_browser-bugs.css\"}"
    },
    {
      "path": "scss/_buttons.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_buttons.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_buttons.css\"}"
    },
    {
      "path": "scss/_callouts.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_callouts.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_callouts.css\"}"
    },
    {
      "path": "scss/_clipboard-js.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_clipboard-js.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_clipboard-js.css\"}"
    },
    {
      "path": "scss/_component-examples.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_component-examples.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_component-examples.css\"}"
    },
    {
      "path": "scss/_content.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_content.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_content.css\"}"
    },
    {
      "path": "scss/_examples.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_examples.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_examples.css\"}"
    },
    {
      "path": "scss/_featured-sites.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_featured-sites.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_featured-sites.css\"}"
    },
    {
      "path": "scss/_featurettes.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_featurettes.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_featurettes.css\"}"
    },
    {
      "path": "scss/_footer.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_footer.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_footer.css\"}"
    },
    {
      "path": "scss/_masthead.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_masthead.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_masthead.css\"}"
    },
    {
      "path": "scss/_nav.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_nav.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_nav.css\"}"
    },
    {
      "path": "scss/_page-header.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_page-header.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_page-header.css\"}"
    },
    {
      "path": "scss/_responsive-tests.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_responsive-tests.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_responsive-tests.css\"}"
    },
    {
      "path": "scss/_sidebar.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_sidebar.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_sidebar.css\"}"
    },
    {
      "path": "scss/_skiplink.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_skiplink.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_skiplink.css\"}"
    },
    {
      "path": "scss/_syntax.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_syntax.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_syntax.css\"}"
    },
    {
      "path": "scss/_team.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/_team.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/_team.css\"}"
    },
    {
      "path": "scss/docs.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"scss/docs.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"css/docs.css\"}"
    },
    {
      "path": "js/docs.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/docs.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/docs.min-dist.js\"}"
    },
    {
      "path": "js/ie-emulation-modes-warning.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/ie-emulation-modes-warning.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/ie-emulation-modes-warning-dist.js\"}"
    },
    {
      "path": "js/ie10-viewport-bug-workaround.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/ie10-viewport-bug-workaround.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/ie10-viewport-bug-workaround-dist.js\"}"
    },
    {
      "path": "js/src/application.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/src/application.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/src/application-dist.js\"}"
    },
    {
      "path": "js/vendor/anchor.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/anchor.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/anchor.min-dist.js\"}"
    },
    {
      "path": "js/vendor/clipboard.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/clipboard.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/clipboard.min-dist.js\"}"
    },
    {
      "path": "js/vendor/holder.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/holder.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/holder.min-dist.js\"}"
    },
    {
      "path": "js/vendor/jekyll-search.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/jekyll-search.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/jekyll-search.min-dist.js\"}"
    },
    {
      "path": "js/vendor/jquery-slim.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/jquery-slim.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/jquery-slim.min-dist.js\"}"
    },
    {
      "path": "js/vendor/tether.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"js/vendor/tether.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"js/vendor/tether.min-dist.js\"}"
    },
    {
      "path": "brand/bootstrap-social-logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"brand/bootstrap-social-logo.png\",\"size\":46176,\"initialSize\":46176,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "brand/bootstrap-social.png",
      "configJson": "{\"compiler-png\":{\"path\":\"brand/bootstrap-social.png\",\"size\":337454,\"initialSize\":337454,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/logo.png\",\"size\":28984,\"initialSize\":28984,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/pic2.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/pic2.png\",\"size\":15180,\"initialSize\":15180,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "img/pic3.png",
      "configJson": "{\"compiler-png\":{\"path\":\"img/pic3.png\",\"size\":14641,\"initialSize\":14641,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "css/docs.css",
      "configJson": "{\"compiler-css\":{\"path\":\"css/docs.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"css/docs-dist.css\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/docs.scss",
      "imports": [
        "../../scss/_variables.scss",
        "../../scss/_mixins.scss",
        "scss/_booticon.scss",
        "scss/_nav.scss",
        "scss/_masthead.scss",
        "scss/_featurettes.scss",
        "scss/_featured-sites.scss",
        "scss/_ads.scss",
        "scss/_content.scss",
        "scss/_page-header.scss",
        "scss/_skiplink.scss",
        "scss/_sidebar.scss",
        "scss/_footer.scss",
        "scss/_component-examples.scss",
        "scss/_responsive-tests.scss",
        "scss/_buttons.scss",
        "scss/_callouts.scss",
        "scss/_examples.scss",
        "scss/_team.scss",
        "scss/_browser-bugs.scss",
        "scss/_brand.scss",
        "scss/_clipboard-js.scss",
        "scss/_syntax.scss",
        "scss/_anchor.scss",
        "../../scss/mixins/_breakpoints.scss",
        "../../scss/mixins/_hover.scss",
        "../../scss/mixins/_image.scss",
        "../../scss/mixins/_badge.scss",
        "../../scss/mixins/_resize.scss",
        "../../scss/mixins/_screen-reader.scss",
        "../../scss/mixins/_size.scss",
        "../../scss/mixins/_reset-text.scss",
        "../../scss/mixins/_text-emphasis.scss",
        "../../scss/mixins/_text-hide.scss",
        "../../scss/mixins/_text-truncate.scss",
        "../../scss/mixins/_visibility.scss",
        "../../scss/mixins/_alert.scss",
        "../../scss/mixins/_buttons.scss",
        "../../scss/mixins/_cards.scss",
        "../../scss/mixins/_pagination.scss",
        "../../scss/mixins/_lists.scss",
        "../../scss/mixins/_list-group.scss",
        "../../scss/mixins/_nav-divider.scss",
        "../../scss/mixins/_forms.scss",
        "../../scss/mixins/_table-row.scss",
        "../../scss/mixins/_background-variant.scss",
        "../../scss/mixins/_border-radius.scss",
        "../../scss/mixins/_box-shadow.scss",
        "../../scss/mixins/_gradients.scss",
        "../../scss/mixins/_transition.scss",
        "../../scss/mixins/_clearfix.scss",
        "../../scss/mixins/_navbar-align.scss",
        "../../scss/mixins/_grid-framework.scss",
        "../../scss/mixins/_grid.scss",
        "../../scss/mixins/_float.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}